<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx auto mt5 text-center">
                
            </div>
        </div>
    </div>
    <h1>Feeding Machine</h1>


    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        <div class="row justify-content-center">
            <div class="col-auto">
                {{ form.photo(class="form-control") }}
            </div>
            <div class="col-auto">
                {{form.submit(class="btn btn-success") }}
            </div>
        </div>        
        
    </form>

    {% if file_url %}
        <div class="mt5">
            <img src="{{ file_url }}" style="width: 400px;">
        </div>

    {% endif %}
</body>
</html>